In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Tiksi,RU,2020-10-25 04:37:49,71.69,128.87,9.55,91,100,27.63
1,1,Tuktoyaktuk,CA,2020-10-25 04:37:50,69.45,-133.04,23.00,92,75,17.22
2,2,Kautokeino,NO,2020-10-25 04:37:50,69.01,23.04,26.37,97,89,8.59
3,3,Paamiut,GL,2020-10-25 04:35:41,61.99,-49.67,30.94,84,100,11.70
4,4,Lillooet,CA,2020-10-25 04:33:48,50.69,-121.94,30.20,46,90,6.93

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Busselton,AU,2020-10-25 04:37:50,-33.65,115.33,86.00,23,79,5.73
9,9,Butaritari,KI,2020-10-25 04:37:51,3.07,172.79,81.27,69,93,6.71
14,14,San Pedro,PH,2020-10-25 04:33:41,14.35,121.02,84.20,83,75,10.29
15,15,Vaini,TO,2020-10-25 04:37:52,-21.20,-175.20,75.20,88,75,10.29
20,20,Bathsheba,BB,2020-10-25 04:37:52,13.22,-59.52,82.40,74,20,23.04
28,28,Atuona,PF,2020-10-25 04:37:53,-9.80,-139.03,78.84,74,21,20.51
29,29,Antalaha,MG,2020-10-25 04:37:54,-14.90,50.28,77.56,67,23,7.52
31,31,Porto Novo,BJ,2020-10-25 04:37:54,6.50,2.60,80.60,88,20,10.29
35,35,Avarua,CK,2020-10-25 04:37:54,-21.21,-159.78,75.20,73,56,12.75
37,37,Kapaa,US,2020-10-25 04:37:55,22.08,-159.32,80.60,74,1,6.93

In [15]:
preferred_cities_df.count()

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp    Lat     Lng Hotel Name
5    Busselton      AU     86.00 -33.65  115.33
9   Butaritari      KI     81.27   3.07  172.79
14   San Pedro      PH     84.20  14.35  121.02
15       Vaini      TO     75.20 -21.20 -175.20
20   Bathsheba      BB     82.40  13.22  -59.52
28      Atuona      PF     78.84  -9.80 -139.03
29    Antalaha      MG     77.56 -14.90   50.28
31  Porto Novo      BJ     80.60   6.50    2.60
35      Avarua      CK     75.20 -21.21 -159.78
37       Kapaa      US     80.60  22.08 -159.32

In [17]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Busselton,AU,86.00,-33.65,115.33,Observatory Guest House
9,Butaritari,KI,81.27,3.07,172.79,Isles Sunset Lodge
14,San Pedro,PH,84.20,14.35,121.02,OYO 412 Viewfort Venue
15,Vaini,TO,75.20,-21.20,-175.20,Keleti Beach Resort
20,Bathsheba,BB,82.40,13.22,-59.52,Atlantis Hotel
28,Atuona,PF,78.84,-9.80,-139.03,Villa Enata
29,Antalaha,MG,77.56,-14.90,50.28,Hotel Vitasoa
31,Porto Novo,BJ,80.60,6.50,2.60,Tour Eiffel Hotel Benin
35,Avarua,CK,75.20,-21.21,-159.78,Paradise Inn
37,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach

In [27]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))